<div class="l-container t-align-center l-padding-top-l l-padding-bottom-l e-underline">
  <div class="o-logo l-max-width-2xl l-margin-auto l-padding-bottom-m l-padding-bottom-l-l">
    {% include ('../assets/svg/logo.svg') %}
  </div>
  <div class="l-padding-bottom-m l-padding-bottom-l-l">
    <h1>new site coming soon!</h1>
  </div>
  <h2>contact information</h2>
  <a href="mailto:hello@themindfulpelvis.ca" class="t-l">hello@themindfulpelvis.ca</a>
</div>