node_modules/
package-lock.json
site/
functions/*
!functions/ajax/
data/initialize.js
src/json/**/*.json
src/**/*Html.js
src/**/*HtmlTypes.js
src/**/*HtmlBuild.js
src/assets/img/instagram-feed/
.DS_Store
.cache
.dev.vars
.env
.eleventy.js
