/**
 * Components - header styles
 */

/* Imports */

@use "sass:map";
@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/components/nav";
@use "@alanizcreative/formation/src/components/nav/overflow";
@use "@alanizcreative/formation/src/components/nav/icon";
@use "@alanizcreative/formation/src/components/nav/icon/seven";

/* Container */

.c-nav {
  z-index: map.get(con.$z-index, "nav");
}

/* Logo */

.c-nav__logo {
  margin-right: var(--xs);
}

/* Toggle buttons */

.c-nav__button {
  color: var(--foreground-dark);
  z-index: 2;

  [data-open="true"] & {
    --outline-color: var(--background-base);

    color: var(--background-base);
  }

  .c-nav[data-overflow="true"] & {
    &[data-visible="true"] {
      display: block;
    }

    &[data-visible="false"] {
      display: none;
    }
  }
}

.c-nav__close {
  right: var(--container-padding);
}

.c-nav-icon-label {
  letter-spacing: 0.2em;
}

/* Overlay */

.c-nav__overlay {
  --prop: visibility, opacity;
  --duration: 0ms, 400ms;
  --delay: 400ms, 10ms;
  --opacity: 0;

  background: var(--foreground-base-80);
  opacity: var(--opacity);

  .c-nav[data-open="true"] & {
    --delay: 10ms, 0ms;
    --opacity: 1;
  }
}
