/**
 * Objects - button
 */

/* Imports */

@use "sass:color";
@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.o-button {
  --padding: var(--3xs) var(--xs);
  --size: var(--t-m);
  --z-index: -1;
  --opacity: 0.15;
  --blend-mode: multiply;
  --background: var(--foreground-dark);

  @extend %u-font-family-primary;
  @extend %u-font-weight-bold;
  @extend %u-line-height-130-pc;
  @extend %u-display-inline-flex;
  @extend %u-justify-content-center;
  @extend %u-width-100-pc;

  padding: var(--padding);
  font-size: var(--size);

  &::before {
		@extend %u-border-radius-100-pc;

    top: 50%;
		transform: translateY(-50%) scale(0) translateZ(0);
		transform-origin: 50% 75%;
    transition: transform 500ms var(--easing-quad);
    padding-top: 100%;
		background: var(--background);
    mix-blend-mode: var(--blend-mode);
    z-index: var(--z-index);
    opacity: var(--opacity);
	}

  &:hover,
	&:active {
		&::before {
			transform: translateY(-50%) scale(1) translateZ(0);
		}
	}

  @include mix.breakpoint-min("m") {
    width: auto;
  }
}

.o-button-secondary {
  background: inherit;
}

.o-button-large {
  --padding: var(--2xs) var(--xs);
  --size: var(--t-r);
}

.o-button-main[data-theme="light"] {
  --opacity: 1;
  --blend-mode: screen;
  --background: var(--background-base);
}

.o-button-secondary[data-theme="default"] {
  --z-index: 1;
  --background: #6899AE;
  --opacity: 0.125;
}
