/**
 * Base: fonts
 */

 @font-face {
  font-family: Celine;
  src:
    url("../fonts/celine-regular.woff2") format("woff2"),
    url("../fonts/celine-regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Karla;
  src:
    url("../fonts/karla-regular.woff2") format("woff2"),
    url("../fonts/karla-regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Karla;
  src:
    url("../fonts/karla-bold.woff2") format("woff2"),
    url("../fonts/karla-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
