/**
 * Objects - Form Styles
 */

/* Imports */

@forward "../../config/config";
@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.o-form {
  --input-x: 1.563rem;
  --input-y: var(--2xs);
  --label-weight: var(--font-weight-bold);
  --label-x: var(--2xs);
  --label-y: var(--3xs);
  --background: var(--background-base);
  --border-color: var(--foreground-light);
  --border-radius: var(--border-radius-l);
  --border-width: 0.066rem;
  --focus-width: 0.18rem;
  --submit-width: 100%;

  /* Tags */

  fieldset {
    width: 100%;
  }

  legend {
    margin-bottom: var(--3xs);
  }

  textarea {
    --border-radius: var(--border-radius-m);
  }

  input[type="search"],
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  textarea,
  select {
    width: 100%;
    border-radius: var(--border-radius);
    line-height: var(--line-height-open);
    font-weight: var(--font-weight-normal);
    color: var(--sharp-color);
    padding: var(--input-y) var(--input-x);
    font-size: var(--t-r);
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
    transition: box-shadow 200ms var(--easing);

    &:focus {
      --outline-width: 0;
      --border-color: var(--outline-color);
      --border-width: var(--focus-width);
    }

    &[aria-invalid="true"] {
      --border-color: var(--negative-base);
      --border-width: 0.12rem;

      &:focus {
        --border-color: var(--outline-color);
        --border-width: var(--focus-width);
      }
    }
  }

  /* Label */

  [data-legend-text],
  [data-label-text] {
    line-height: var(--line-height-tight);
    font-weight: var(--label-weight);
    font-size: var(--t-m);
    color: var(--sharp-color);
  }

  /* Honeypot */

  [data-asi] {
    display: none;
  }

  /* Required */

  [data-required-icon]::after,
  [data-error-text] {
    color: var(--negative-base);
  }

  [data-required-icon]::after {
    content: " *";
  }

  /* Submit */

  [type="submit"] {
    width: var(--submit-width);

    &:hover,
    &:focus,
    &:active {
      background: var(--foreground-dark);
    }
  }

  @include util.breakpoint-min("m") {
    --submit-width: auto;
  }
}

/* Labels */

.o-label__overlap {
  margin: 0 var(--label-x) calc(-1 * var(--label-y)) var(--label-x);
  isolation: isolate;

  > span {
    background: var(--background);
    border-radius: var(--border-radius-s);
    padding: 0 var(--5xs) var(--5xs);
  }
}

.o-label__text {
  --label-weight: var(--font-weight-normal);
}
