/**
 * Base - base styles
 */

html {
  scroll-behavior: smooth;
}

html,
body {
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-primary);
  color: var(--text-color);
  background: var(--background-base);
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

p {
  color: var(--text-color);
}
