<section>
  <div class="l-container t-align-center">
    <h1>new site coming soon!</h1>
    <h2>contact information</h2>
    <a href="mailto:hello@themindfulpelvis.ca" class="t-l">hello@themindfulpelvis.ca</a>
  </div>
</section>