/**
 * Global - No Js Styles
 */

.no-js-none {
  display: none;
}

.no-js-nav {
  --logo-pos: static;
  --logo-xy: 0 0;
  --flow: none;
  --grow: 0;
  --mid: 0;
}

.no-js-collapsible {
  --h: auto;
  --visibility: visible;
}
