/**
 * Objects - Logo Styles
 */

/* Imports */

@use "sass:map";
@forward "../../config/config";
@use "@alanizcreative/formation/src/config/config" as con;
@use "@alanizcreative/formation/src/utils" as util;

/* Styles */

.o-logo {
  width: var(--logo-width);
  height: var(--logo-height);
}

.o-logo-s {
  @include util.fluid-size(
    width,
    util.calc-rem(200px) util.calc-rem(250px),
    "s" "l"
  );
  @include util.fluid-size(
    height,
    util.calc-rem(64px) util.calc-rem(80px),
    "s" "l"
  );
}

.o-logo,
.o-logo-s {
  $brand: map.get(con.$vars, "brand");

  --text: #{map.get($brand, "navy")};
  --wave: #{map.get($brand, "blue")};
  --circle: #{map.get($brand, "navy")};
  --crest: #{map.get($brand, "blue-light")};
  --greater: #{map.get($brand, "blue-light")};
  --lesser: #{map.get($brand, "orange-light")};

  &[data-theme="light"],
  [data-nav-open="true"] & {
    --text: #{map.get($brand, "beige")};
    --wave: #{map.get($brand, "blue-x-light")};
    --circle: #{map.get($brand, "beige")};
    --crest: #{map.get($brand, "blue")};
    --greater: #{map.get($brand, "blue-light")};
    --lesser: #{map.get($brand, "orange-light")};
  }
}
