/**
 * Effects - Underline Styles
 */

.e-underline a[data-rich],
.e-underline-reverse a[data-rich] {
  --color: var(--from);
  --duration: 200ms;

  transition: box-shadow var(--duration) var(--easing);
  box-shadow: 0 var(--underline) 0 0 var(--color);

  &:hover,
  &:active,
  &:focus {
    --color: var(--to);
  }
}

.e-underline a[data-rich] {
  --from: currentcolor;
  --to: transparent;
}

.e-underline-reverse a[data-rich] {
  --from: transparent;
  --to: currentcolor;
}
