/**
 * Text - color
 */

/* Imports */

@use "sass:color";
@use "@alanizcreative/formation/src/text/Color/Color";
@use "@alanizcreative/formation/src/utils" as util;

/* Styles */

.t-light {
  --outline-color: var(--background-base);
  --heading-color: var(--background-base);
  --link-color: var(--background-base);
  --border-color: var(--background-base-50);
  --text-color: #{rgba(util.get-color("background-base"), 0.8)};

  color: var(--text-color);
}

.t-link-current {
  --link-color: currentcolor;
}

.t-current {
  color: currentcolor;
}

.t-sharp {
  --text-color: var(--heading-color);

  color: var(--heading-color);
}
