/**
 * Objects - Image Color Styles
 */

.o-image-color[data-loaded="true"] {
  &::after {
    background: var(--theme);
    mask-image: var(--src);
    mask-size: cover;
    mask-type: alpha;
    mask-repeat: no-repeat;
  }

  img {
    opacity: 0;
  }
}
