/**
 * Objects: logo
 */

/* Imports */

@use "sass:map";
@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

$logo: map.get(con.$vars, "logo");

.o-logo {
  @include mix.fluid-size(
    width,
    func.calc-rem(200px) func.calc-rem(600px),
    "s" "xl"
  );
}

.o-logo {
  --text: #{map.get($logo, "navy")};
  --wave: #{map.get($logo, "blue")};
  --circle: #{map.get($logo, "navy")};
  --crest: #{map.get($logo, "blue-light")};
  --greater: #{map.get($logo, "blue-light")};
  --lesser: #{map.get($logo, "orange-light")};
}
