/**
 * Config
 */

/* Vertical padding */

$padding-vertical: (
  "xs",
  "s",
  "m",
  "l",
  "xl",
);

/* Config variables */

@use "@alanizcreative/formation/src/config" with (

  $colors: (
    "primary": (
      "base": #3c6e89,
      "light": #9e5330,
    ),
    "foreground": (
      "base": #4b4f54,
      "dark": #333f48,
    ),
    "background": (
      "base": #e5ebec,
      "light": #ffffff,
      "dark": #f4eae0,
    ),
  ),

  $text-colors: (
    "primary-base",
    "primary-light",
    "foreground-base",
    "foreground-dark",
    "background-base",
    "background-light",
    "background-dark",
  ),

  $background-colors: (
    "primary-base",
    "primary-light",
    "foreground-base",
    "foreground-dark",
    "background-base",
    "background-light",
    "background-dark",
  ),

  $font-families: (
    "primary": (
      "Karla"
      Helvetica,
      Arial,
      sans-serif,
    ),
    "secondary": (
      "Celine",
      Georgia,
      Times,
      serif,
    ),
  ),

  $font-weights: (
    "bold": 700,
    "normal": 400,
  ),

  $breakpoints: (
    "0": 0px,
    "xs": 400px,
    "s": 600px,
    "m": 900px,
    "l": 1000px,
    "xl": 1200px,
  ),

  $spacing: (
    "xs": 15px,
    "s": 30px,
    "m": 60px,
    "l": 90px,
    "xl": 120px,
    "2xl": 600px,
  ),

  $padding-top: $padding-vertical,
  $padding-bottom: $padding-vertical,
  $padding-vertical-breakpoints: ("l"),

  $container-padding: 20px,
  $containers: (
    "default": 1340px,
  ),

  $max-widths: ("2xl"),

  $vars: (
    "logo": (
      "beige": #f4eae0,
      "navy": #333f48,
      "blue-light": #6899ae,
      "blue": #3c6e89,
      "orange-light": #c07759,
      "blue-x-light": #e5ebec,
    ),
  ),

);
