/**
 * Config - mixins
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

@mixin set-text() {
  /* h1 */

  @include mix.fluid-size(
    --h1,
    func.calc-rem(44px) func.calc-rem(60px),
    "s" "xl"
  );

  /* h2-l */

  @include mix.fluid-size(
    --h2-l,
    func.calc-rem(40px) func.calc-rem(54px),
    "s" "xl"
  );

  /* h2 */

  @include mix.fluid-size(
    --h2,
    func.calc-rem(36px) func.calc-rem(48px),
    "s" "xl"
  );

  /* h3 */

  @include mix.fluid-size(
    --h3,
    func.calc-rem(32px) func.calc-rem(36px),
    "s" "xl"
  );

  /* h4 */

  @include mix.fluid-size(
    --h4,
    func.calc-rem(25px) func.calc-rem(28px),
    "s" "xl"
  );

  /* h + t */

  --h5: #{func.calc-rem(22px)};
  --h6: #{func.calc-rem(18px)};
  --t: #{func.calc-rem(18px)};
  --t-r: #{func.calc-rem(19px)};
  --t-m: #{func.calc-rem(18px)};
  --t-s: #{func.calc-rem(16px)};

  @include mix.breakpoint-min("m") {
    --h5: #{func.calc-rem(24px)};
    --h6: #{func.calc-rem(20px)};
    --t: #{func.calc-rem(20px)};
  }

  /* t-quote */

  @include mix.fluid-size(
    --t-quote,
    func.calc-rem(23px) func.calc-rem(26px),
    "s" "l"
  );

  /* t-l */

  @include mix.fluid-size(
    --t-l,
    func.calc-rem(19px) func.calc-rem(22px),
    "s" "xl"
  );
}
