/**
 * Text: sizes
 */

/* Imports */

@use "@alanizcreative/formation/src/config";

/* Styles */

h1,
h2,
h3,
h4,
h5,
h6,
.t-h1,
.t-h2,
.t-h3,
.t-h4,
.t-h5,
.t-h6 {
  @extend %u-font-family-secondary;
  @extend %u-font-weight-normal;

  color: var(--heading-color);
}

h1,
.t-h1 {
  font-size: var(--h1);
}

h2,
.t-h2 {
  font-size: var(--h2);
}

p,
.t-l {
  font-size: var(--t-l);
}
