/**
 * Base - Text Styles
 */

/* Imports */

@use "@alanizcreative/formation/src/utils" as util;

/* Styles */

h1,
h2,
h3,
h4,
h5,
h6,
.t-h1,
.t-h2-l,
.t-h2,
.t-h3,
.t-h4,
.t-h5,
.t-h6 {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-normal);
  color: var(--heading-color);
  transform: translateY(5%);
}

h2,
h3,
h4,
h5,
h6,
.t-h2,
.t-h2-l,
.t-h3,
.t-h4,
.t-h5,
.t-h6 {
  line-height: var(--line-height-130-pc);
}

h5,
h6,
.t-h5,
.t-h6 {
  letter-spacing: var(--letter-spacing-1-pc);
}

p,
ul[data-rich],
ol[data-rich],
.t-l,
.t-quote,
.t,
.t-r,
.t-m,
.t-s,
.t-xs {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
}

p,
ul[data-rich],
ol[data-rich],
.t-l,
.t,
.t-r,
.t-m,
.t-s,
.t-xs {
  line-height: var(--line-height-160-pc);
}

h1,
.t-h1 {
  font-size: var(--h1);
  line-height: 1.15;
}

.t-h2-l {
  font-size: var(--h2-l);
}

h2,
.t-h2 {
  font-size: var(--h2);
}

h3,
.t-h3 {
  font-size: var(--h3);
}

h4,
.t-h4 {
  font-size: var(--h4);
}

h5,
.t-h5 {
  font-size: var(--h5);
}

h6,
.t-h6 {
  font-size: var(--h6);
}

.t-quote {
  line-height: var(--line-height-150-pc);
  font-size: var(--t-quote);
  font-style: italic;
}

p,
.t-l {
  font-size: var(--t-l);
}

.t {
  font-size: var(--t);
}

.t-r {
  font-size: var(--t-r);
}

.t-m {
  font-size: var(--t-m);
}

.t-s {
  font-size: var(--t-s);
}

.t-xs {
  font-size: var(--t-xs);
}

.t-s,
.t-xs {
  --underline-offset: #{util.calc-rem(3px)};
}
