/**
 * Effects - Styles
 */

/* Imports */

@use "@alanizcreative/formation/src/effects/Transition/Transition";
@use "./Underline/Underline";

/* Remove animations */

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  #mp .mp {
    *,
    *::before,
    *::after {
      --duration: 0.001ms;
      --easing: linear;

      transition: none;
      transition-timing-function: linear;
      transition-duration: 0.001ms;
      animation-duration: 0.001ms;
      animation-iteration-count: 1;
    }
  }
}
